<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-title">Show password</div>
                    <div class="card-body">
                        <form action="">
                            <label for="showpassword">Showpassword</label>
                            <input [type]="inputType" name="password" id="password" class="form-control">
                            <input (change)="showPassword($event)" type="checkbox" class="form-check-input" >Show Password
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
