<section>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a href="" class="navbar-brand">
                <img src="../../../assets/images/mdahsanallahsan.jpg" alt="" class="img-fluid"> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"> 
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " routerLink="home" routerLinkActive="active"> MD AHSAN ALI
                          
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="home"routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#" routerLinkActive="active">About Me </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="protfolio" routerLinkActive="active">Protfolio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="details" routerLinkActive="active-link">Product Detaile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cart" routerLinkActive="active-link">Cart </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="checkout" routerLinkActive="active-link">Checkout </a>
                    </li>
                
                 </ul>
                 <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="login">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="signup">Sign up</a>
                    </li>
                 </ul>
            </div> 
        </div>
    </nav>




</section>
