<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow-lg">
                <div class="card-ing">
                    <img [src]="tourimage" alt="">
                                </div>
                <div class="card-title">{{ wish }}</div>
                <div class="card-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero sapiente laborum omnis quisquam unde eligendi. Ut, consequuntur ipsa fugiat esse voluptatibus soluta perferendis alias fugit odio eius! Aliquam labore odit, dolorum totam vero aut. Quaerat aut quod harum, sed officia explicabo fugiat minus illum, asperiores quisquam alias dolores consequuntur enim.
                    <button (click)="goodmorning()" type="button" class="btn btn-success">Good Morning</button>
                    <button (click)="goodafternoon()" type="button" class="btn btn-primary">Good Afternoon</button>
                    <button (click)="goodevening()" type="button" class="btn btn-danger">Good Evening</button>
                </div>
            </div>
        </div>

    </div>
</div>