<div class="footers">
 <div class="row">
    <div class="col-sm-4 m-auto p-5">
        <h4>Address</h4>

        <h6> <i class="bi bi-geo-alt"></i>Room no 12,
            E-block,
            Rajshai College Hostel,Rajshai.</h6>
            <h6><i class="bi bi-telephone"></i> +01721778257</h6>
            <h6><i class="bi bi-envelope"></i> ahsan778257@gmail.com</h6>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-whatsapp"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-linkedin"></i>

       

    </div>
    <div class="col-sm-3">
            <h4>Quick Links</h4>
        <div><i class="bi bi-arrow-right"></i>  <a routerLink="home">Home</a></div>        
        <div><i class="bi bi-arrow-right"></i>  <a routerLink="">Protfolio</a></div>        
        <div><i class="bi bi-arrow-right"></i>  <a routerLink="">About</a></div>        
        <div><i class="bi bi-arrow-right"></i>  <a routerLink="contact">Contacts</a></div>        
        <div><i class="bi bi-arrow-right"></i>  <a routerLink="">Recent</a></div>        
        <div><i class="bi bi-arrow-right"></i>  <a routerLink="login">Login</a></div>        
        <div><i class="bi bi-arrow-right"></i>  <a routerLink="signup">Signup</a></div>        
        
    

    </div>

    <div class="col-sm-5">
        
            <h3 class="text-primary mb-4">Newsletter</h3>
            <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Sign Up</button>
                    </div>
                </div>
            </div>

    </div>


    <br>
    <br>
    <br>
     <!-- Back to Top -->
     


    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#">Your Site Name</a>. All Rights Reserved. 
				
				<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
				Designed by <a href="https://htmlcodex.com">md ahsan lai</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Terms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Help</a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
 <!-- </div>
 <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a> -->
</div>

