
    <div class="container vh-100 m-5 ">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="signup">
                    <div class="signup-title"><h3>Wellcome to Our application</h3> </div>
                    <form>
                        <div class="form-group p-2">
                            <label for="firstname">First Name:</label>
                            <input type="text" name="firstname" id="firstname" class="form-control ">
                        </div>
                        <div class="form-group p-2">
                            <label for="lastname">Last Name:</label>
                            <input type="text" name="lastname" id="lastname" class="form-control ">
                        </div>
                        <div class="form-group p-2">
                            <label for="phone">Mobile Number:</label>
                            <input type="number" name="phone" id="phone" class="form-control ">
                        </div>
                        <div class="form-group p-2">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group p-2">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group p-2">
                            <label for="cofpassword">Confirm Password:</label>
                            <input type="password" name="cofpassword" id="cofpassword" class="form-control">
                        </div>
                        <div class="form-group p-2">
                            <input type="submit" class="btn form-control" value="Sign Up">
                        </div>
                        <h6 id="ligin-form">Already Registered? <a routerLink="/login">Login Here</a></h6>
                        
                    </form> 

                </div>
                
                
            </div>
        </div>
    </div>


















