<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow-lg">
                <div class="card-title">
                     Count is: {{ increase }}
                </div>
                
                <div class="card-body">
                    <button (click)="getDecreaseNumber()" class="btn btn-danger " type="button">Decrease</button>
                    <button (click)="getIncreasenumber()" class="btn btn-success " type="button">Increase</button>
                   
                </div>
            
                <div class="card-footer">
                  

                </div>
                
            </div>
        </div>
    </div>
</div>
