<div class="container m-5 p-5">
    <div class="row">
        <div class="col-sm-6 m-auto p-5 contact-address">
            <h4>Address</h4>
    
            <h6> <i class="bi bi-geo-alt"></i>Room no 12,
                E-block,
                Rajshahi College Muslim Hostel,Rajshahi.</h6>
                <h6><i class="bi bi-telephone"></i> +880-1721-778257</h6>
                <h6><i class="bi bi-envelope"></i> ahsan778257@gmail.com</h6>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-linkedin"></i>
        </div>
        <div class="col-sm-6 contact-form">
            <h2 class="text-center">Contact form!</h2>
            <div class="form-group p-2">
                <label for="yourname">Your Name:-</label>
                <input type="text" class="form-control" placeholder="Please Entry Your Name">
            </div>
            <div class="form-group p-2">
                <label for="email">Your Email:-</label>
                <input type="email" class="form-control" placeholder="Please Entry Your Email">
            </div>
            <div class="form-group p2">
                <label for="message">Your Message:-</label>
                <textarea name="message" id="message" cols="20" class="form-control" rows="5" placeholder="Please entry your query"></textarea>
            </div>
            <div class="form-group p-2">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </div>
    </div>
</div>
