
 body{
     background-color: rgb(169, 231, 233);
     margin: 0 auto;
     box-sizing: border-box;
     display: block;
    font-family: sans-serif,Georgia, 'Times New Roman', Times, serif;
     
 }
 